/* 
    Document   : main
    Created on : Jun 24, 2013, 8:29:54 PM
    Author     : Roy Braam
    Description:
        Main css file
*/
body{
    padding: 0px;
    margin: 0px;
    font-size: 8pt; 
    color: #000000; 
    background-color: #D6EAF2;
    font-family: arial, sans-serif;
    overflow: auto;
}

#header{
    position: static;
    float: left;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #003333;
}
#menu{
    position: static;
    float: left;
    width: 200px;
    height: 1100px;
    color: white;
    background-color: #186198; 
}
#content{
    position: static;
    float: none;
    width: 997px;
    height: 100%;
    margin-left: auto; 
    margin-right: auto;
    background-color: #FFF;
    
}
/*Admin list css*/
.admin-list{
    width: 100%;
    height: 200px;
    overflow: auto;
}
.admin-list table{
    width: 100%;
}
.admin-list table tr th{
    font-weight: bold;
    background-color: lightgray;
}
/*Form*/
.form-container{
    width: 100%;
}
.form-container table{
    width: 100%;
}
/*Menu*/
.menuUl a, .menuUl a:visited, .menuUl a:hover{
    color: white;
}
